@model IEnumerable<NguyenThiThuyHang500.Models.NTTH0500>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NTTHName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NTTHGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NTTHName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTTHGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NTTHID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NTTHID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NTTHID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
